:root{

    --primary:#1B2559;
    --secondary:rgb(219, 139, 41);
    --text:#1F2937;
    --text-light:#6B7280;
    --background:#F8FAFC;
    --border:#E5E7EB;
    

}
body{

    font-family:"Plus Jakarta Sans",sans-serif !important;
    background-color: var(--background) !important;
    color:var(--text-light);

}
h5,h6{
    color: var(--text)!important;
    
}
.search input{
    background-color: var(--background);
}
.tour-card  {
  overflow: hidden; /* Giữ ảnh không bị tràn ra ngoài góc bo tròn khi zoom */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;}

.tour-card:hover {
  transform: scale(1.03); /* Phóng to 103% */
}
